.audio-list,
.audio-item {
	list-style: none;
	margin: 0;
	padding: 0;
}
.audio-item {
	border-top: 1px solid #ddd;
	color: #333;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	padding-left: 36px;
	position: relative;
}
.audio-item:first-child {
	border: none;
}
.audio-start {
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 21px;
	left: 5px;
	margin-top: -10.5px;
	outline: none;
	position: absolute;
	top: 50%;
	width: 21px;
}
.audio-start i {
	background: url(../img/audio.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	height: 21px;
	left: 0;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 21px;
}
.audio-start:hover,
.audio-start:focus {
	background: url(../img/audio-playing.png) no-repeat 0 0;
}
.audio-start:hover i,
.audio-start:focus i {
	background-position: -21px 0;
}
.audio-playing,
.audio-playing:hover,
.audio-playing:focus,
.audio-paused,
.audio-paused:hover,
.audio-paused:focus {
	background: url(../img/audio-playing.png) no-repeat 0 0;
}
.audio-playing i {
	background-position: -42px 0;
}
.audio-playing:hover i,
.audio-playing:focus i {
	background-position: -63px 0;
}
.audio-paused i {
	background-position: 0 0;
}
.audio-paused:hover i,
.audio-paused:focus i {
	background-position: -21px 0;
}